{% extends "base.html" %}

{% block main %}
    <h2>Contact Form</h2>
    <hr class="top">
    <p class="instruction">Fill in this form to contact the site owners</p>
    <div>  
        <form action="{{ url_for('contact') }}" method="post">
            {% include 'flashmsgs.html' %}
            {{ form.csrf_token }}
            <div class="form">
                {{ form.name.label }} <span>Required</span>
                <p>Please enter your full name</p>
                {{ form.name }}
            </div>    
            <div class="form">
                {{ form.email.label }} <span>Required</span>
                <p>Please enter your email address</p>
                {{ form.email }}
            </div>
            <div class="form">
                {{ form.subject.label }} <span>Required</span>
                <p>Please enter the subject for your message.</p>
                {{ form.subject }}
            </div>
            <div class="form">
                {{ form.message.label }} <span>Required</span>
                <p>Please enter the message you would like to send.</p>
                {{ form.message }}
            </div>
            <button type="submit">Send</button>        
        </form>
    </div>
{% endblock %}